In [1]:
import pandas as pd

In [2]:
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']

In [3]:
duration =  [2,3,6,4]

In [4]:
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [5]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [18]:
#Question 1
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [20]:
#Question 2
#loc is used when you want to access data by specifying the labels like the names of rows and columns
#iloc is used when you want to access data by specifying the integer positions like the order of rows and columns

In [28]:
#Question 3
reindex = [3, 0, 1, 2]
new_df = df.reindex(reindex)
new_df.loc[2]
new_df.iloc[2]

#new_df.loc it will return the row where the label is 2, not the third row of the DataFrame.
#new_df.iloc[2] it is purely positional based indexing, so it returns the row at the third position index 2 in the DataFrame

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [29]:
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]

In [30]:
import numpy as np
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [37]:
#Question 4
#(i)
column_means = df1.mean()
column_means
#(ii)
column_2_std = df1['column_2'].std()
column_2_std

0.2520296427699641

In [52]:
#Question 5

df1.loc[2, 'column_2'] = 'string data'

try:
    column_2_mean = df1['column_2'].mean()
    print(column_2_mean)
except TypeError as e:
    print(e)

#this gives error because we can not  ass float and str

unsupported operand type(s) for +: 'float' and 'str'

In [56]:
#Question 6
#it is used to perform calculations over a specified window or range of data points.
#Rolling Window Functions These functions apply a calculation over a specified window size and move that window one observation at a time until the entire dataset is covered. Examples include rolling sum, rolling mean, rolling standard deviation, etc.
#Expanding Window Functions: These functions apply a calculation to all data points in the window from the start of the series up to the current point. The window size grows over time. Examples include expanding sum, expanding mean, etc.

In [61]:
#Question 7
dt=pd.to_datetime('2024-02-12')
dt1 = dt.month
dt2 = dt.year

dt1
dt2

2024

In [77]:
#Question 8
def calculate_time_difference(date1, date2):
    date1 = pd.to_datetime(date1)
    date2 = pd.to_datetime(date2)
    time_diff = date2 - date1
    
    days = time_diff.days
    hours = time_diff.seconds // 3600
    minutes = (time_diff.seconds % 3600) // 60
    
    return days, hours, minutes

date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")

days_diff, hours_diff, minutes_diff = calculate_time_difference(date1, date2)

print("Time difference between", date1, "and", date2, "is:")
print("Days:", days_diff)
print("Hours:", hours_diff)
print("Minutes:", minutes_diff)

Enter the first date (YYYY-MM-DD):  2024-02-12
Enter the second date (YYYY-MM-DD):  2024-02-15

Time difference between 2024-02-12 and 2024-02-15 is:
Days: 3
Hours: 0
Minutes: 0

In [ ]:
# Qusetion 9

def process_csv(file_path, column_name, category_order):
    
    df = pd.read_csv(file_path)
    
    df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)
    
    sorted_data = df.sort_values(by=[column_name])
    print("Sorted Data:")
    print(sorted_data)
file_path = input("Enter the file path of the CSV file: ")
column_name = input("Enter the column name to convert to categorical data type: ")
category_order_str = input("Enter the category order (comma-separated): ")

category_order = [category.strip() for category in category_order_str.split(",")]

process_csv(file_path, column_name, category_order)

In [ ]:
#Qusetion 10
import matplotlib.pyplot as plt

def visualize_sales_data(file_path):
    df = pd.read_csv(file_path)
    df['Date'] = pd.to_datetime(df['Date'])
    df['Year'] = df['Date'].dt.year
    df['Month'] = df['Date'].dt.month
    sales_data = df.groupby(['Year', 'Month', 'Product Category'])['Sales'].sum().unstack(fill_value=0)
    sales_data.plot(kind='bar', stacked=True, figsize=(10, 6))
    plt.title('Sales of Each Product Category Over Time')
    plt.xlabel('Year-Month')
    plt.ylabel('Sales')
    plt.xticks(rotation=45)
    plt.legend(title='Product Category', bbox_to_anchor=(1, 1))
    plt.tight_layout()
    plt.show()
file_path = input("Enter the file path of the CSV file: ")
visualize_sales_data(file_path)

In [ ]:
#Question 11
def calculate_statistics("Downloads/student_data.csv"):
   
    df = pd.read_csv("Downloads/student_data.csv")
    mean_score = df['Test Score'].mean()
    median_score = df['Test Score'].median()
    mode_score = df['Test Score'].mode().iloc[0]

    results_df = pd.DataFrame({
        'Statistic': ['Mean', 'Median', 'Mode'],
        'Value': [mean_score, median_score, mode_score]
    })
    
    return results_df
file_path = input("Enter the file path of the CSV file containing the student data: ")
statistics_table = calculate_statistics(file_path)
print("\nStatistics of Test Scores:")
print(statistics_table)